html {
  --primary: #bada55;
  --secondary: #b4b4b4;
  --tertiary: #555555;
  --accent: #ff7d00;
  --black: #000000;
  --white: #ffffff;
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
}
main {
  margin: auto;
  justify-content: center;
  display: grid;
  max-width: 900px;
}
#first_h1 {
  margin: var(--space-lg) var(--space-xl);
}
.grid_3-2 {
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: var(--space-xs);
}
.grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--space-xs);
}
#website img {
  height: 30vw;
}
#website p {
  /* line-height: 150%; */
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-xs);
}

.grid_1-1 :last-child {
  border: 1px solid var(--white);
}
.btn {
  text-decoration: none;
  font-family: "open_sans_600", cursive;
  color: var(--white);
  border: var(--white) 2px solid;
  border-radius: 2px;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  background-color: #555555;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  background-color: var(--white);
  color: var(--black);
  transform: scale(1.1);
  box-shadow: 0 5px 25px var(--accent);
}
.makeflex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid_1-3 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: var(--space-md);
}
#emnesite img {
  height: 20vw;
}
.flexit {
  display: flex;
  gap: var(--space-md);
}
.grid_udbytte {
  display: grid;
  grid-template-columns: 1fr 4fr 8fr;
}
/* .grid-view div {
  border: 1px dotted red;
  z-index: 999;
}
.grid-view {
  grid-column: 1 / span all;
  grid-row: 1 / span all;
} */
