html {
  --primary: #bada55;
  --secondary: #b4b4b4;
  --tertiary: #555555;
  --accent: #ff7d00;
  --black: #000000;
  --white: #ffffff;
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
}
main {
  margin: auto;
  justify-content: center;
  display: grid;
  max-width: 900px;
}
#first_h1 {
  margin-top: 3vw;
}
.grid_3-2 {
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: var(--space-xs);
}
.grid_2-3 {
  display: grid;
  grid-template-columns: 5fr 4fr;
  gap: var(--space-xs);
}
#website_sec1 img {
  width: 100%;
}
.abso_div {
  position: relative;
}
#abso_btn {
  position: absolute;
  bottom: 0%;
  right: 0%;
  min-width: fit-content;
}
#abso_btn2 {
  position: absolute;
  bottom: 4%;
  left: 26%;
  min-width: fit-content;
}
.grid_5-3 {
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: var(--space-md);
}
#emnesite img {
  width: 100%;
}
#emnesite .btn {
  margin-bottom: 1vw;
}
.grid_3-2 {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--space-sm);
}
.grid_1-1-1 img {
  width: 100%;
}
.grid_1-3 {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-top: 2vw;
}
#website_sec1 {
  margin-bottom: 3vw;
}
#emnesite {
  margin-bottom: 3vw;
}
#photoshop {
  margin-bottom: 3vw;
}
#t3_p {
  max-width: 65ch;
  padding: 1vw;
}
/* .grid-view div {
  border: 1px dotted red;
  z-index: 999;
}
.grid-view {
  grid-column: 1 / span all;
  grid-row: 1 / span all;
} */
