#first_sec {
  margin-bottom: 3vw;
  margin-top: 3vw;
}
#second_sec {
  margin-bottom: 3vw;
}
#third_sec {
  margin-bottom: 3vw;
}
#fourth_sec {
  margin-top: 3vw;
}
#fifth_sec {
  margin-top: 3vw;
}
#sixth_sec {
  margin-top: 3vw;
  margin-bottom: 3vw;
}
.grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--space-md);
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
#tv_container,
#vaske_container,
#ide_container,
#kaffe_container {
  /* position: absolute; */
  width: 50%;
  aspect-ratio: 1/1;
}
#ide_sprite {
  width: 100%;
  height: 100%;
  background-image: url(../assets/god_ide.svg);
  background-size: cover;
}
#tv_sprite {
  width: 100%;
  height: 100%;
  background-image: url(../assets/tv.svg);
  background-size: cover;
}
#vaske_sprite {
  width: 100%;
  height: 100%;
  background-image: url(../assets/vasketøj.svg);
  background-size: cover;
}
#figure_btn {
  width: 50%;
  height: 25%;
  align-self: flex-end;
  margin-bottom: 10%;
}

.grid_5-2 {
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: var(--space-md);
}
.anigrid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: var(--space-lg);
  align-content: center;
  justify-items: center;
}

#ani_1,
#ani_2,
#ani_3,
#ani_4,
#ani_5,
#ani_6 {
  width: 50%;
  aspect-ratio: 1/1;
  padding: var(--space-sm);
}
#ani_1,
#ani_2,
#ani_3,
#ani_4,
#ani_5,
#ani_6:hover {
  cursor: pointer;
}
#ani_1 {
  position: relative;
}
#vaske::after {
  display: block;
  position: absolute;
  content: "'Click me'";
  color: var(--white);
  font-family: "open_sans", cursive;
  bottom: 30%;
  left: 80%;
}
#vaske {
  width: 100%;
  height: 100%;
  background-image: url(../assets/vasketøj.svg);
  background-size: cover;
}
#tv {
  width: 100%;
  height: 100%;
  background-image: url(../assets/tv.svg);
  background-size: cover;
}
#boom {
  width: 100%;
  height: 100%;
  background-image: url(../assets/boom.svg);
  background-size: cover;
}

#ide {
  width: 100%;
  height: 100%;
  background-image: url(../assets/god_ide.svg);
  background-size: cover;
}
#puff {
  width: 100%;
  height: 100%;
  background-image: url(../assets/puff.svg);
  background-size: cover;
}
#telefon {
  width: 100%;
  height: 100%;
  background-image: url(../assets/telefon.svg);
  background-size: cover;
}
.bouncing {
  animation-name: bouncing;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-timing-function: linear;
}

@keyframes bouncing {
  0% {
    translate: 0 0;
  }
  25% {
    translate: 0 -100%;
  }
  75% {
    translate: 0 100%;
  }
  100% {
    translate: 0 0;
  }
}
.pattern {
  animation-name: pattern;
  animation-duration: 4s;
  /* animation-iteration-count: infinite; */
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  /* animation: pattern 4 linear infinite alternate-reverse; */
}

@keyframes pattern {
  0% {
    translate: 0 0;
  }
  17% {
    translate: 100% 100%;
  }
  33% {
    translate: -100% 100%;
  }
  49% {
    translate: 0 0;
  }
  66% {
    translate: 100% -100%;
  }
  83% {
    translate: -100% -100%;
  }
  100% {
    translate: 0 0%;
  }
}
.zoom_in {
  animation: zoom_in 1s 1;
  animation-fill-mode: backwards;
}

@keyframes zoom_in {
  0% {
    scale: 1;
  }
  100% {
    scale: 3;
  }
}
.fade_out {
  animation: fade_out;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.rotation {
  animation: rotation 1s 3 linear;
}

@keyframes rotation {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
.pulse {
  animation: pulse 1s 2 ease-in;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    /* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); */
    border-radius: 50%;
  }

  70% {
    transform: scale(1.3);
    /* box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); */
    border-radius: 50%;
  }

  100% {
    transform: scale(0.8);
    /* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); */
    border-radius: 50%;
  }
}

.grid_3-2 {
  display: grid;
  grid-template-columns: 3fr 2fr;

  gap: var(--space-md);
}
.makeflex .btn {
  margin-bottom: 1rem;
}
.grid_3-4 {
  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: var(--space-md);
}
/* #pp_img {
  max-width: 500px;
} */
#pp_img img {
  /* max-width: 500px; */
  width: 100%;
}
#fifth_sec img {
  width: 100%;
}
.grid_4-3 {
  display: grid;
  grid-template-columns: 4fr 3fr;
  gap: var(--space-md);
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--space-md);
  align-content: center;
  justify-items: center;
}
/* #fifth_sec .btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
} */
