#first_sec {
  margin-top: 3vw;
  margin-bottom: 3vw;
}
#second_sec {
  margin-top: 3vw;
}
#second_sec p {
  max-width: 65ch;
  padding: var(--space-sm);
}
#third_sec {
  margin-bottom: 3vw;
}
.grid_3-1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-md);
}
@media (max-width: 700px) {
  .grid_3-1 {
    grid-template-columns: 1fr;
  }
  .makeflex {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: var(--space-lg);
    margin-bottom: var(--space-md);
  }
  .btn2 {
    border: var(--white) 1px solid;
    min-width: 12vw;
  }
  .grid_1-1 {
    grid-template-columns: 1fr;
  }
  .grid_1-1 img {
    max-width: 100%;
  }
}
