.grid_3-2 {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: var(--space-lg);
  margin-top: var(--space-lg);
}
.flex {
  display: flex;
  justify-content: right;
}

.grid_3-1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
#marg_top {
  margin-top: var(--space-lg);
}
.grid_3-2 img {
  justify-content: right;
  aspect-ratio: 400/436;
  max-width: 100%;
}
.grid_2-3 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2rem;
}
.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--space-lg);
  margin-top: var(--space-lg);
}

section ul {
  font-family: var(--ff);
}
.grid_1-1-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-lg);
}
#first_sec {
  margin-bottom: 3rem;
}
#marg_top {
  margin-top: 3vw;
}
#second_sec {
  margin-bottom: 3vw;
}
#second_sec li {
  margin-bottom: var(--space-xxs);
}
#third_sec {
  margin-top: 3vw;
}
#fourth_sec {
  margin-bottom: 4vw;
}
#third_sec h2,
dl {
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}

#fourth_sec ul {
  margin-left: var(--space-xxs);
}
#fourth_sec h2 {
  margin-left: var(--space-sm);
}
#fourth_sec li {
  margin-bottom: var(--space-xs);
}
#second_sec h3 {
  align-self: center;
}
#second_sec .greybox {
  /* padding-right: var(--space-sm);
  padding-left: var(--space-sm); */
}
#second_sec .border_box {
  /* padding-right: var(--space-sm);
  padding-left: var(--space-sm); */
}
#fourth_sec h2 {
  margin-top: var(--space-sm);
  font-size: var(--fs-3);
}
/* .makeflex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
