html {
  --primary: #bada55;
  --secondary: #b4b4b4;
  --tertiary: #555555;
  --accent: #ff7d00;
  --black: #000000;
  --white: #ffffff;
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
}
@font-face {
  font-family: "open_sans";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "open_sans_600";
  src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: "open_sans_800";
  src: url(../fonts/OpenSans-ExtraBold.ttf);
}
body {
  background-color: var(--black);
  margin: 0;
}
main {
  position: relative;
  margin: auto;
  max-width: 1000px;
}
header {
  border-bottom: solid 2px var(--white);
  margin: 0;
  padding: 0;
}
header h1 {
  text-decoration: none;
  margin: 1rem 3rem;
  /* margin: 0; */
  color: var(--black);
  font-family: "open_sans_800", cursive;
  font-size: 3rem;
  /* border: 2px solid #ff7d00; */
  -webkit-text-stroke-color: var(--white);
  -webkit-text-stroke-width: 2px;
  letter-spacing: 3px;
}
nav {
  min-width: 35%;
  margin-right: var(--space-xl);
  margin-top: var(--space-lg);
}
.headerflex {
  display: flex;
  justify-content: space-between;
  gap: var(--space-sm);
}
header ul {
  list-style: none;
  justify-content: space-between;
  color: var(--white);
  font-family: "open_sans_600", cursive;
  font-size: 1rem;
}
header li {
  border: var(--white) 2px solid;
  border-radius: 2px;
  padding: 2% 5%;
}
header a {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}
.her a {
  color: var(--accent);
}
h1,
h2,
h3,
p,
dl {
  color: var(--white);
}
h1 {
  font-family: "open_sans_800", cursive;
}
dl {
  font-family: "open_sans";
}
dt {
  font-size: 110%;
  font-weight: 600;
}
dd {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}
p {
  font-family: "open_sans", cursive;
}
h2 {
  font-family: "open_sans_600", cursive;
}
/* section {
  margin: auto;
  max-width: 70vw;
  /* margin: var(--space-sm) var(--space-xxl); */

.flexitemright {
  display: flex;
  justify-content: right;
}
.obliqueline {
  background-color: var(--accent);
  height: 0.2rem;
}
.obliqueline2 {
  background-color: var(--white);
  height: 0.2rem;
}
.border_box {
  border-top: 3px solid var(--accent);
  border-left: 3px solid var(--accent);
  border-right: 3px solid var(--white);
  border-bottom: 3px solid var(--white);
  padding-left: var(--space-md);
  padding-right: var(--space-md);
}
.halfbox_top {
  border-top: 3px solid var(--accent);
  border-left: 3px solid var(--accent);
  padding-left: var(--space-md);
  padding-right: var(--space-md);
}
.halfbox_top_white {
  border-top: 1px solid var(--white);
  border-left: 1px solid var(--white);
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
}
.halfbox_bot {
  border-bottom: 1px solid var(--white);
  border-right: 1px solid var(--white);
  padding-left: var(--space-md);
  padding-right: var(--space-md);
}
.fullbox_white {
  border: 2px solid var(--white);
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
}
.fullbox_white2 {
  border: 2px solid var(--white);
}
.fullbox_orange {
  border: 2px solid var(--accent);
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
}
.fullbox_orange2 {
  border: 2px solid var(--accent);
}
.linebreak {
  margin: var(--space-md) 0;
}
footer {
  /* midlertidige properties */
  height: 5rem;
  border-top: 2px solid var(--white);
}
header li:hover {
  background-color: var(--secondary);
}
.greybox {
  background-color: #222222;
  background-image: linear-gradient(135deg, #222222 0%, #b4b4b4 100%);
}
.greybox2 {
  border-radius: 45px;
  background: radial-gradient(var(--black), var(--white));
  /* background-color: #b4b4b4;
  background-image: linear-gradient(45deg, #b4b4b4 0%, #222222 100%); */
}
.greybox3 {
  background-color: #222222;
  background-image: linear-gradient(45deg, #222222 0%, #b4b4b4 100%);
}
.btn {
  text-decoration: none;
  font-family: "open_sans_600", cursive;
  color: var(--white);
  border: var(--white) 2px solid;
  border-radius: 2px;
  width: 7vw;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  background-color: #555555;
  transition: 0.2s ease-in-out;
}
/* .btn {
   background-image: linear-gradient(to right, #b4b4b4 0%, #555555 51%, #b4b4b4 100%);
} */

.btn:hover {
  background-color: var(--white);
  color: var(--black);
  transform: scale(1.1);
  box-shadow: 0 5px 25px var(--accent);
}
.font_size {
  font-size: 110%;
  line-height: 150%;
}
.grid_udbytte {
  display: grid;
  grid-template-columns: 0.5fr 4fr 8fr;
  gap: var(--space-sm);
}
/* @media (min-width: 1000px) {
  section {
    margin: auto;
    max-width: 70vw;
  }
} */
