:root {
  --primary: #145873;
  --secondary: #b4b4b4;
  /* --tertiary: #0f3d59; */
  --accent: #ff7d00;
  --black: #000000;
  --white: #ffffff;

  --space-xxs: calc(var(--space-sm) * 0.25);
  --space-xs: calc(var(--space-sm) * 0.5);
  --space-sm: 1rem;
  --space-md: calc(var(--space-sm) * 1.5);
  --space-lg: calc(var(--space-sm) * 2);
  --space-xl: calc(var(--space-sm) * 3);
  --space-xxl: calc(var(--space-sm) * 6);

  --ff: "open_sans", sans-serif, cursive;

  --fw-n: 400;
  --fw-m: 600;
  --fw-b: 800;

  --fs-g: 1rem;
  --fs-p: calc(var(--fs-g) * 1.1);
  --fs-1: calc(var(--fs-g) * 2.8);
  --fs-2: calc(var(--fs-g) * 2);
  --fs-3: calc(var(--fs-g) * 1.5);

  --br-l: 10px;
  --br-s: calc(var(--br-l) * 0.5);

  color: var(--white);
  font-family: var(--ff);
  background-color: var(--black);
}
@font-face {
  font-family: "open_sans";
  src: url(../fonts/OpenSans-Regular.ttf);
}
/* @font-face {
  font-family: "open_sans_600";
  src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: "open_sans_600_it";
  src: url(../fonts/OpenSans-SemiBoldItalic.ttf);
}
@font-face {
  font-family: "open_sans_800";
  src: url(../fonts/OpenSans-ExtraBold.ttf);
} */
body {
  margin: 0;
}
main {
  position: relative;
  margin: auto;
  max-width: 1000px;
}
header {
  border-bottom: solid 2px var(--white);
  margin: 0;
}
header h1 {
  margin: var(--space-sm) var(--space-xl);
  color: var(--black);
  font-family: "open_sans_800", sans-serif, cursive;
  font-size: calc(var(--fs-g) * 3.5);
  -webkit-text-stroke-color: var(--white);
  -webkit-text-stroke-width: 2px;
  letter-spacing: 3px;
}
nav {
  min-width: 35%;
  margin-right: var(--space-xl);
  margin-top: var(--space-xl);
}
.headerflex {
  display: flex;
  justify-content: space-between;
  gap: var(--space-sm);
}
.ulflex {
  display: flex;
  justify-content: space-between;
  gap: var(--space-sm);
}
header ul {
  list-style: none;
  justify-content: space-between;
  font-family: var(--ff);
  font-weight: var(--fw-n);
  font-size: var(--fs-g);
}
header li {
  border: var(--white) 2px solid;
  border-radius: var(--br-s);
  padding: 1% 3%;
}
header a {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}
.her a {
  color: var(--accent);
}
h1 {
  font-family: var(--ff);
  font-weight: var(--fw-b);
  font-size: var(--fs-1);
}
h2 {
  font-family: var(--ff);
  font-weight: var(--fw-m);
  font-size: var(--fs-2);
  font-style: italic;
}
h3 {
  font-family: var(--ff);
  font-weight: var(--fw-m);
  font-size: var(--fs-3);
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
}
p {
  font-size: var(--fs-p);
  line-height: 150%;
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
}
.grid_udbytte p {
  font-size: var(--fs-g);
  line-height: 130%;
  padding-left: 0;
  padding-right: 0;
}
dl {
  font-family: var(--ff);
}
dt {
  font-size: var(--fs-p);
  font-weight: var(--fw-m);
}
dd {
  margin-top: var(--space-xxs);
  margin-bottom: var(--space-xs);
}
.flexitemright {
  display: flex;
  justify-content: right;
}
.sectionline {
  background-color: var(--accent);
  height: var(--space-xxs);
}
.sectionline2 {
  background-color: var(--white);
  height: var(--space-xxs);
}
.linebreak {
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
}
.border_box {
  border-top: 3px solid var(--accent);
  border-left: 3px solid var(--accent);
  border-bottom: 3px solid var(--white);
  border-right: 3px solid var(--white);
  border-radius: var(--br-l);
}
.border_box2 {
  border-top: 3px solid var(--white);
  border-left: 3px solid var(--white);
  border-bottom: 3px solid var(--accent);
  border-right: 3px solid var(--accent);
  border-radius: var(--br-l);
}
.border_box3 {
  border-top: 3px solid var(--accent);
  border-left: 3px solid var(--white);
  border-bottom: 3px solid var(--accent);
  border-right: 3px solid var(--white);
  border-radius: var(--br-l);
}
.border_box4 {
  border-top: 3px solid var(--accent);
  border-left: 3px solid var(--accent);
  border-bottom: 3px solid var(--accent);
  border-right: 3px solid var(--white);
  border-radius: var(--br-l);
}
.border_box5 {
  border-top: 3px solid var(--accent);
  border-left: 3px solid var(--white);
  border-bottom: 3px solid var(--accent);
  border-right: 3px solid var(--accent);
  border-radius: var(--br-l);
}
.border_box_img {
  border-top: 3px solid var(--accent);
  border-left: 3px solid var(--accent);
  border-bottom: 3px solid var(--white);
  border-right: 3px solid var(--white);
  border-radius: var(--br-l);
  overflow: hidden;
}
.border_box_img2 {
  border-top: 3px solid var(--white);
  border-left: 3px solid var(--white);
  border-bottom: 3px solid var(--accent);
  border-right: 3px solid var(--accent);
  border-radius: var(--br-l);
  overflow: hidden;
}
.border_box_img4 {
  border-top: 3px solid var(--white);
  border-left: 3px solid var(--white);
  border-bottom: 3px solid var(--accent);
  border-right: 3px solid var(--accent);
  border-radius: var(--br-l);
}
.greybox {
  background-color: #222222;
  background-image: linear-gradient(135deg, #222222 0%, var(--primary) 100%);
  border-radius: var(--br-l);
}
.greybox2 {
  background-color: #222222;
  background-image: linear-gradient(315deg, #222222 0%, var(--primary) 100%);
  border-radius: var(--br-l);
}
.fullbox_white {
  border: 2px solid var(--white);
  border-radius: var(--br-s);
  overflow: hidden;
}
.fullbox_white2 {
  border: 3px solid var(--white);
  border-radius: var(--br-s);
}
footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6vw;
  border-top: 3px solid var(--accent);
}
#flexfoot {
  position: absolute;
  bottom: 0.25vw;
  left: 0.25vw;
}
#flexfoot p {
  font-size: var(--fs-g);
  margin: 0;
  opacity: 60%;
}
footer a {
  position: absolute;
  bottom: 0.75vw;
  right: 1vw;
  text-decoration: none;
  color: var(--white);
  font-family: var(--ff);
  font-weight: var(--fw-n);
  font-style: italic;
  font-size: var(--fs-g);
  border: 2px solid var(--white);
  border-radius: var(--br-s);
  padding: var(--space-xs);
}
footer a:hover {
  background-color: var(--secondary);
}
header li:hover {
  background-color: var(--secondary);
}
.btn {
  text-decoration: none;
  /* font-family: "open_sans_600_it", cursive; */
  font-family: var(--ff);
  font-weight: var(--fw-m);
  font-style: italic;
  color: var(--white);
  border: var(--white) 2px solid;
  border-radius: var(--br-s);
  width: 7vw;
  font-size: var(--fs-3);
  padding: var(--space-sm);
  text-align: center;
  background-color: #555555;
  transition: 0.2s ease-in-out;
}
.btn2 {
  text-decoration: none;
  /* font-family: "open_sans_600_it", cursive; */
  font-family: var(--ff);
  font-weight: var(--fw-m);
  font-style: italic;
  color: var(--white);
  border: var(--white) 2px solid;
  border-radius: var(--br-s);
  width: 7vw;
  font-size: var(--fs-p);
  padding: var(--space-sm);
  text-align: center;
  background-color: #555555;
  transition: 0.2s ease-in-out;
}
/* .btn {
   background-image: linear-gradient(to right, #b4b4b4 0%, #555555 51%, #b4b4b4 100%);
} */
.makeflex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.makeflex2 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.makeflex .btn {
  width: fit-content;
  padding: var(--space-sm);
}
.btn:hover {
  background-color: var(--white);
  color: var(--black);
  transform: scale(1.1);
  box-shadow: 0 5px 25px var(--accent);
}
.btn2:hover {
  background-color: var(--white);
  color: var(--black);
  transform: scale(1.1);
  box-shadow: 0 5px 25px var(--accent);
}
.grid_udbytte {
  display: grid;
  grid-template-columns: 0.5fr 4fr 8fr;
  gap: var(--space-sm);
}
.marg_top {
  margin-top: 2vw;
}

@media (max-width: 1200px) {
  nav {
    min-width: 45%;
  }
}

@media (max-width: 1100px) {
  :root {
    --space-sm: 0.6rem;

    --fs-g: 0.9rem;
  }
  main {
    max-width: 950px;
  }
}
@media (max-width: 950px) {
  :root {
    --space-sm: 0.4rem;

    --fs-g: 0.8rem;
  }
  main {
    max-width: 850px;
  }
  nav {
    margin-right: var(--space-md);
    margin-top: var(--space-md);
  }
  header h1 {
    -webkit-text-stroke-width: 1.5px;
    letter-spacing: 2px;
  }
}
@media (max-width: 700px) {
  :root {
    --space-sm: 0.4rem;

    --fs-g: 0.8rem;
  }
  main {
    max-width: 650px;
    margin-left: var(--space-md);
    margin-right: var(--space-md);
  }
  nav {
    margin-right: var(--space-md);
    margin-top: var(--space-md);
  }
  header h1 {
    -webkit-text-stroke-width: 1.5px;
    letter-spacing: 2px;
    margin: var(--space-sm) var(--space-lg);
  }
  h1 {
    font-size: calc(var(--fs-g) * 2.5);
  }
  h2 {
    font-size: calc(var(--fs-g) * 1.8);
  }
  .headerflex {
    display: block;
  }
  .ulflex {
    justify-content: left;
  }
  header ul {
    padding-left: var(--space-lg);
  }
  footer {
    min-height: calc(var(--space-lg) * 4);
  }
  .btn {
    font-size: var(--fs-p);
  }
}
